# Set the mysql container and map ports
docker run --rm -it -p 127.0.0.1:8080:3306 --name rv-db -d -e MYSQL_ROOT_PASSWORD=1234 mysql

# Copy the SQL script into the container
docker cp scheme.sql rv-db:/

# Log in the container to run the SQL script
docker exec -it rv-db bash
mysql -uroot -p << scheme.sql 

# Test docker connection from host
mysql -uroot -p1234 -h 127.0.0.1 -P 8080
